<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>
  <div class="app">

    <%- include('nav.ejs') %>

    <section class="container">
      <div class="content">
        <h3 class="question">is the district line f--ked?</h3>

        <% if (distruptions.length > 0) { %>
        <h1 class="main">As always, yes.</h1>
        <% } else { %>
        <h1 class="main">Surprisingly No.</h1>
        <% } %>

        <% if (distruptions.length > 0) { %>
        <h5 class="comment">(<%= comment %>)</h5>
        <% } %>

        <h3 class="date">
          <%= date %>
        </h3>

        <div>
          <a href="/reason" class="question">reason it's f--ked?</a>
        </div>
      </div>
    </section>

    <%- include('footer.ejs') %>

  </div>
</body>

</html>